---
title: Schedule
layout: default
---

<h1>Schedule</h1>

<p>
Note that the videos linked in the video section are from Claude
Anderson's (older) version of the class.  Content-wise, this class
should be pretty similar (though I don't promise things will be
exactly the same).
</p>
<p>
Details of due dates, exams, etc. are probably different.  So use
Claude's videos as a supplement to the in-class lectures, not a
replacement.
</p>

<table>
    <thead>
        <tr>
            <td>Session</td><td>Reading</td><td>Topics</td><td>Materials</td><td>Videos</td>
        </tr>
    </thead>
    <tbody>
      {% assign stuff = site.data.date_convert | concat: site.data.assignments | sort: "date" %}
      {% for session in stuff %}

      {% if session.type == "class_session" %}
      {% if site.data.schedule[session.class_num] %}
      {% assign event = site.data.schedule[session.class_num] %}

      <tr {% if event.bgcolor %} bgcolor="#{{event.bgcolor}}" {% endif %} >
        <td>
          {{ session.class_num }} <br/> {{ session.date | date: "%a %d %b %Y" }}
        </td>
          <td>
              {{event.reading | join: "<br/>"}}
          </td>
          <td>
              {{event.topics | join: "<br/>"}}
          </td>
          <td>
              {% for material in event.materials %}
              <a href="{{ site.github.repository_url }}/tree/main/ClassMaterials/{{ material }}">{{event.materials}}</a><br/>
              {% endfor %}
              {{event.other | join: "<br/>"}}
          </td>
        <td>
          {% for video in event.videos %}
          <a href="https://rose-hulman.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id={{video.id}}">{{video.name}}</a>
          <br>
          {% endfor %}

        </td>

          
      </tr>
      {% else %} <!-- we have a class but it's not is schedule.yml -->
      <tr>
        <td>
          {{ session.class_num }} <br/> {{ session.date | date: "%a %d %b %Y" }}
        </td>
        <td>
          ?? <!-- maybe add class {{ session.class_num }} to schedule.yml -->
        </td>
      </tr>
      {% endif %}
      {% else %}
            <tr {% if session.bgcolor %} bgcolor="#{{session.bgcolor}}" {% else %} bgcolor="#ddf" {% endif %} >
        <td colspan="5">
          <a href="{{ site.github.repository_url }}/tree/main/Homework/{{ session.dirname }}">{{session.name}}</a> DUE {{ session.date | date: "%a %d %b %Y %l:%M %P" }}
        </td>
      </tr>

      {% endif %}

      {% endfor %}
    </tbody>
</table>
    
